<ion-view view-title="Search">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search beer (by name)" ng-model="beerSearch">
      </label>
    </div>

    <ion-list>
      <ion-item ng-repeat="s in searchResults | filter: (!disableFilter || '') && {name: beerSearch}">
        <strong>{{s.name}}</strong>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
